@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f0f27;
}

.logotype {
    padding: 0.3rem 0.6rem 0.3rem 1rem;
    margin: 1rem 1rem 1rem 1.5rem;
    cursor: pointer;
    color: #f5e4ff;
}

li, a {
    display: inline-flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12pt;
    font-weight: 600;
    padding: 0.2rem;
    margin: 0.6rem 1rem 0.6rem 1rem;
    text-decoration: none;
    list-style: none;
    color: #f5e4ff;
    color: #f5e4ff;
}

li, a:hover {
    transition: all 0.2s ease-in-out 0.2s;
    color: #d48bff;
}

.buttonright1 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.8rem 1.5rem 0.8rem 1rem;
    border-radius: 20px;
    background-color: #d48bff;
    color: #f9efff;
}

.buttonright1:hover {
    background-color: #f9efff;
    outline: 2px solid #d48bff;
    color: #d48bff;
}

h1 {
    font-family: "Source Sans pro", sans-serif;
    font-size: 20pt;
    padding: 4rem 2rem 1rem 3rem;
}

.apurple {
    justify-content: center;
    margin: 0.5rem 2rem 0.5rem 3rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    width: 150px;
    border-radius: 20px;
    background-color: #d48bff;
    color: #f9efff;
}

.apurple:hover {
    background-color: #f9efff;
    outline: 2px solid #d48bff;
    color: #d48bff;
}

.ablue {
    justify-content: center;
    margin: 0.5rem 2rem 0.5rem 3rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    width: 150px;
    border-radius: 20px;
    background-color: #597dc5;
    color: #e4edff;
}

.ablue:hover {
    background-color: #e4edff;
    outline: 2px solid #597dc5;
    color: #597dc5;
}

.agreen {
    justify-content: center;
    margin: 0.5rem 2rem 0.5rem 3rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    width: 150px;
    border-radius: 20px;
    background-color: #59c559;
    color: #e4ffe5;
}

.agreen:hover {
    background-color: #e4ffe5;
    outline: 2px solid #59c559;
    color: #59c559;
}